 
 :root{
     --marron: #634e17;
    --secondary : #f5d177;
    --white-color : #f5f5f5;
    --dark-color : #2f3640;
    --primary: #2f3640;
    --metal-color : #757879;
    --padding--100 : 100px;
 }

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  font-family: "Open Sans", sans-serif;
  color: var(--dark-color);
  /* font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "wght" 400; */
}
body {
  background: var(--white-color);
  margin: 0;
}
/* .container{
    max-width: 1200px;
    padding: auto;
} */

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  /* font-optical-sizing: auto;
  font-weight : 800; */
  /* font-style: normal; */
  color: var(--dark-color);
}
a {
    text-decoration: none;
}

.bouton {
    padding: 10px 15px;
    font-size: 14px;
}
.bouton-primary {
    background: var(--primary);
    color: var(--white-color);
    transition: all 0.3s ease;
    border: 1px solid var(--dark-color);
}
.bouton-primary:hover, .bouton-primary:focus {
  background: var(--white-color);
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
}
.bouton-secondary {
    background: var(--secondary);
    color: var(--dark-color);
    transition: all 0.3s ease;
    border: 1px solid var(--secondary);

}
.bouton-secondary:hover, .bouton-secondary:focus {
  background: var(--white-color);
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
}
.bouton-default {
    background: var(--white-color);
    color: var(--dark-color);
    transition: all 0.3s ease;
    border: 1px solid var(--dark-color);
  transition: all 0.3s ease;

}
.bouton-default:hover, .bouton-default:focus {
    background: var(--dark-color);
    color: var(--white-color);
  
}

/* Navbar */
.navbar .bar1, .navbar .bar2, .navbar .bar3{
    width: 22px;
    height: 2px;
    background-color: var(--primary);
    transition: 0.4s;
    display: block;
    position: relative;
  }
  .navbar .bar1{
    margin: 3px 0;
  }
  .navbar .bar2{
    margin: 4px 0;
  }
  .navbar .bar3{
    margin: 0px 0px 0px 0px;
  }
  .navbar .change .bar1 {
    -webkit-transform: rotate(42deg) translate(-2px, 6px);
    transform: rotate(-42deg) translate(-2px, 6px);
  }
  .navbar .change .bar2 {
    opacity: 0;
  }
  .navbar .change .bar3 {
    -webkit-transform: rotate(46deg) translate(-4px, -8px);
    transform: rotate(46deg) translate(-4px, -8px);
  }
  .navbar .menu{
    display: inline-block;
    /* position: static; */
    font-size: 0.9rem !important;
    color: var(--primary);
  }
  .navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--dark-color) !important;
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 0;
    transition: var(--bs-navbar-toggler-transition);
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    /* box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width); */
  }
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    padding-top: 5px;
    /* background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; */
  }
.dropdown-menu{
    background-color: rgb(248, 249, 250) !important;
    border-radius: 0 !important;
    color: var(--dark-color);
    border-color: rgb(235, 235, 235) !important;
    border-top: 0 !important;
}
@media screen and (max-width : 768px) {
    .dropdown-menu{
        border: 0 !important;
    }
}
.dropdown-item{
    border-bottom: 1px solid rgb(235, 235, 235) !important;
}
.nav-item .active {
    color: var(--primary) !important;
    font-weight: 500;
    border-bottom: var(--primary) 2px solid;
}


.navbar .form-control{
    border-radius: 0 !important;
    font-size: 0.9rem;
}
.navbar .form-control:focus{
    border-radius: 0 !important;
    border: 1px solid var(--primary) !important;
    box-shadow: none !important;
}
  /* Banner */
.banner {
    height: 600px;
    align-items: center; 
    padding: 100px 20px !important;
    color: var(--white-color);
    text-align: left;
    background-color: beige;
    background-image: url('../img/bg-banner.png');
}
@media screen and (max-width : 767px) {
    .banner{
        height: auto;
        justify-content: center;
        padding: auto;
    }
    .banner__image img{
        display: none;
    }
}
.banner__image img{
  width: 100%;
}

.banner .banner__description h1 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--primary);
}
.banner .banner__description span {
    font-family: "Playfair Display", serif;
    font-size: 5rem;
    font-weight: 900;
    color: var(--marron);
}

.banner .banner__image img {
    height: auto;

}

/* Section Apropos */
.apropos{
    padding: 50px 20px;
    border-bottom: 2px solid rgb(240, 240, 240);
}
.apropos h1{
    font-size: 2rem;
}
.apropos p{
    text-align: justify;
    hyphens: auto;
}
.apropos .apropos__description{
    padding-right: 20px;
    padding-top: 10px;
}
@media screen and (max-width : 567px) {
    .apropos .apropos__description{
        padding-right: 0;
    }
}
.apropos .apropos__description .interno{
  font-weight: 600;
  color: var(--marron);
}
.apropos .apropos__description .bouton-primary{
  display: inline-block;
  /* color: var(--white-color); */
  margin-top: 20px;
}
.apropos .apropos__navigation{
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px 20px 20px;
    margin-top: 70px;
}
.apropos .apropos__navigation h2{
    font-size: 1.1rem;
    color: var(--primary);
    font-family: "open sans", sans-serif;
    /* text-transform: uppercase; */
    border-bottom: 2px;
    font-weight: 500;
}
.apropos .apropos__navigation form{
    /* border-bottom: #e7e7e7 2px solid; */
    padding-bottom: 15px;
}
.form-control{
  border-radius: 0 !important;
  font-size: 0.9rem !important;
  color: var(--dark-color) !important;
}
.form-control:focus{
  border-radius: 0 !important;
  border: 1px solid var(--primary) !important;
  box-shadow: none !important;
}
.apropos .apropos__navigation .flex{
    margin: 10px 0;
    border-bottom: 1px solid rgb(197, 197, 197) !important;
}
.apropos .apropos__navigation .flex a , .apropos .apropos__navigation .flex i{
  color: var(--metal-color) !important;
  /* font-weight: 600; */
  transition: all 0.3s ease !important ;
  font-size: 14px !important;
}
.apropos .apropos__navigation .flex i{
  font-size: 1.3rem;
  font-weight: bold;
}

.apropos .apropos__navigation .flex a:hover{
  color: var(--marron) !important;
  /* font-weight: 600; */
}
.apropos__navigation .card{
  border-radius: none !important;
  font-size: 0.9rem !important;
}

/*Revue Ela - Accueil */

.actus{
  padding: 50px 20px;
  /* background-color: beige; */
}
.actus h1, .activites h1{
  font-size: 2rem;
  /* line-height: 0.9rem; */
  margin : 0;
  /* border-bottom : 2px solid rgb(243, 243, 196); */
}
.actus span{
  display: block;
  color : var(--marron);
  font-size : 0.9rem;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.actus .corps__titre span{
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--marron);
  text-transform: none;
}
.actus .corps__titre h2{
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  margin-bottom: 5px;
}
.actus .corps__titre a{
  color: var(--dark-color);
  transition: all 0.3s ease;
}
.actus .corps__titre a:hover{
  color: var(--marron);
}

/*** Activités de l'Apela - Accueil ***/

.activites{
  padding: 50px 20px;
  background-color: beige;
}
.activites h1{
  border-bottom: 1px solid rgba(228, 207, 92, 0.5);
  margin-bottom: 20px;
}